@import "../../styles/mixins.scss";
.input-comp-text {
//   margin-top: 1rem;
  width: 255px;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cdd4d9;
  border-radius: 5px;
  opacity: 1;
  .input-comp-text{
    @include box(100%);
    @include fontProperties(17px,500, var(--textDark2))
  }
}
.input-comp-radio{
    border-radius: 50%;
}
