@import '../../styles/mixins.scss';
.breadcrumb{
    @include flexAlign();
    gap: 10px;
    padding: 10px;
    height: 45px;
    border-radius: 10px;
    background: white;
    .breadcrumb-text{
        font-size: 16px;
        font-weight: 500;
    }
}